<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.personalchef">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="My Personal Chef"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PersonalChef1"
        android:usesCleartextTraffic="true">
        <activity android:name=".cuisines.ViewCuisinesActivity"></activity>
        <activity android:name=".cuisines.SeeCuisinesActivity"></activity>
        <activity android:name=".Chef.ChefDashboard2Activity" />
        <activity android:name=".booking.BookingActivity" />
        <activity android:name=".UI.ViewChefsActivity" />
        <activity android:name=".UI.ClientViewChefsDashboardActivity" />
        <activity android:name=".UI.UserActivity" />
        <activity android:name=".UI.UserdashboardActivity" />
        <activity android:name=".Chef.ChefDashboardActivity" />
        <activity android:name=".Admin.AdminDashboardActivity" />
        <activity android:name=".Authentication.LoginActivity" />
        <activity android:name=".Authentication.RegisterActivity" />
        <activity android:name=".UI.MainActivity" />
        <activity
            android:name=".UI.SplashActivity"
            android:theme="@style/Theme.PersonalChef1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>